In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv(r'C:\Users\matti\OneDrive\Desktop\Projects_Analysis\F1\results.csv')

In [3]:
df

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,01:34:51,5690616,39,2,00:01:27,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,11:28:19,5696094,41,3,00:01:28,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,03:54:43,5698779,41,5,00:01:28,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,04:20:38,5707797,58,7,00:01:29,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,00:20:10,5708630,43,1,00:01:27,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26075,26081,1110,817,213,3,19,16,16,16,0.0,44,00:01:43,5053521,25,15,00:01:51,227.169,1
26076,26082,1110,858,3,2,18,17,17,17,0.0,44,00:01:44,5054926,37,9,00:01:50,228.213,1
26077,26083,1110,807,210,27,0,18,18,18,0.0,44,00:01:50,5060900,26,4,00:01:50,229.415,1
26078,26084,1110,832,6,55,4,0,R,19,0.0,23,00:00:00,0,9,19,00:01:53,222.864,130
26079,26085,1110,857,1,81,5,0,R,20,0.0,0,00:00:00,0,0,0,00:00:00,0.000,130

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26080 entries, 0 to 26079
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         26080 non-null  int64
 1   raceId           26080 non-null  int64
 2   driverId         26080 non-null  int64
 3   constructorId    26080 non-null  int64
 4   number           26080 non-null  int64
 5   grid             26080 non-null  int64
 6   position         26080 non-null  int64
 7   positionText     26080 non-null  object
 8   positionOrder    26080 non-null  int64
 9   points           26080 non-null  float64
 10  laps             26080 non-null  int64
 11  time             26080 non-null  object
 12  milliseconds     26080 non-null  int64
 13  fastestLap       26080 non-null  int64
 14  rank             26080 non-null  int64
 15  fastestLapTime   26080 non-null  object
 16  fastestLapSpeed  26080 non-null  float64
 17  statusId         26080 non-null  int64
dtypes: float64(2), int64(13), object(3)
memory usage: 3.6+ MB

In [5]:
df.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId'],
      dtype='object')

In [6]:
columns_check=['number', 
       'position', 'positionText', 'positionOrder',  'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed']

In [7]:
df[columns_check]=df[columns_check].replace('\\N',0)

In [8]:
df

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,01:34:51,5690616,39,2,00:01:27,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,11:28:19,5696094,41,3,00:01:28,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,03:54:43,5698779,41,5,00:01:28,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,04:20:38,5707797,58,7,00:01:29,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,00:20:10,5708630,43,1,00:01:27,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26075,26081,1110,817,213,3,19,16,16,16,0.0,44,00:01:43,5053521,25,15,00:01:51,227.169,1
26076,26082,1110,858,3,2,18,17,17,17,0.0,44,00:01:44,5054926,37,9,00:01:50,228.213,1
26077,26083,1110,807,210,27,0,18,18,18,0.0,44,00:01:50,5060900,26,4,00:01:50,229.415,1
26078,26084,1110,832,6,55,4,0,R,19,0.0,23,00:00:00,0,9,19,00:01:53,222.864,130
26079,26085,1110,857,1,81,5,0,R,20,0.0,0,00:00:00,0,0,0,00:00:00,0.000,130

In [9]:
df['time']=df['time'].str.replace('+',' ')

In [10]:
df

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,01:34:51,5690616,39,2,00:01:27,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,11:28:19,5696094,41,3,00:01:28,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,03:54:43,5698779,41,5,00:01:28,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,04:20:38,5707797,58,7,00:01:29,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,00:20:10,5708630,43,1,00:01:27,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26075,26081,1110,817,213,3,19,16,16,16,0.0,44,00:01:43,5053521,25,15,00:01:51,227.169,1
26076,26082,1110,858,3,2,18,17,17,17,0.0,44,00:01:44,5054926,37,9,00:01:50,228.213,1
26077,26083,1110,807,210,27,0,18,18,18,0.0,44,00:01:50,5060900,26,4,00:01:50,229.415,1
26078,26084,1110,832,6,55,4,0,R,19,0.0,23,00:00:00,0,9,19,00:01:53,222.864,130
26079,26085,1110,857,1,81,5,0,R,20,0.0,0,00:00:00,0,0,0,00:00:00,0.000,130

In [11]:
df

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,01:34:51,5690616,39,2,00:01:27,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,11:28:19,5696094,41,3,00:01:28,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,03:54:43,5698779,41,5,00:01:28,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,04:20:38,5707797,58,7,00:01:29,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,00:20:10,5708630,43,1,00:01:27,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26075,26081,1110,817,213,3,19,16,16,16,0.0,44,00:01:43,5053521,25,15,00:01:51,227.169,1
26076,26082,1110,858,3,2,18,17,17,17,0.0,44,00:01:44,5054926,37,9,00:01:50,228.213,1
26077,26083,1110,807,210,27,0,18,18,18,0.0,44,00:01:50,5060900,26,4,00:01:50,229.415,1
26078,26084,1110,832,6,55,4,0,R,19,0.0,23,00:00:00,0,9,19,00:01:53,222.864,130
26079,26085,1110,857,1,81,5,0,R,20,0.0,0,00:00:00,0,0,0,00:00:00,0.000,130

In [12]:
df.isna().sum()

resultId           0
raceId             0
driverId           0
constructorId      0
number             0
grid               0
position           0
positionText       0
positionOrder      0
points             0
laps               0
time               0
milliseconds       0
fastestLap         0
rank               0
fastestLapTime     0
fastestLapSpeed    0
statusId           0
dtype: int64

In [13]:
df['time']=df['time'].str.strip()

In [14]:
df['time']=df['time'].fillna(0)

In [15]:
df.to_csv(r'C:\Users\matti\OneDrive\Desktop\Projects_Analysis\F1\results.csv')

In [17]:
df

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,01:34:51,5690616,39,2,00:01:27,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,11:28:19,5696094,41,3,00:01:28,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,03:54:43,5698779,41,5,00:01:28,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,04:20:38,5707797,58,7,00:01:29,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,00:20:10,5708630,43,1,00:01:27,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26075,26081,1110,817,213,3,19,16,16,16,0.0,44,00:01:43,5053521,25,15,00:01:51,227.169,1
26076,26082,1110,858,3,2,18,17,17,17,0.0,44,00:01:44,5054926,37,9,00:01:50,228.213,1
26077,26083,1110,807,210,27,0,18,18,18,0.0,44,00:01:50,5060900,26,4,00:01:50,229.415,1
26078,26084,1110,832,6,55,4,0,R,19,0.0,23,00:00:00,0,9,19,00:01:53,222.864,130
26079,26085,1110,857,1,81,5,0,R,20,0.0,0,00:00:00,0,0,0,00:00:00,0.000,130